{% extends 'base.html' %}
{% load static %}
{% load shop_tags %}
{% block extra_css %}
<!-- CSS Front Template -->
<link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
{% endblock %}
{% block content %}

{% show_3_latest_products %}
<!-- Icon Blocks -->
<div class="border-bottom">
    <div class="container content-space-2">
        <div class="row">
            <div class="col-md-4 mb-7 mb-md-0">
                <!-- Icon Block -->
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img class="ps-2 avatar avatar-4x3" src="{% static 'svg/illustrations/oc-protected-card.svg' %}"
                            alt="Image Description">
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <h4 class="mb-1">تسویه حساب ایمن</h4>
                        <p class="small mb-0">تسویه حساب مطمئن تضمینی</p>
                    </div>
                </div>
                <!-- End Icon Block -->
            </div>
            <!-- End Col -->

            <div class="col-md-4 mb-7 mb-md-0">
                <!-- Icon Block -->
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img class="ps-2  avatar avatar-4x3" src="{% static 'svg/illustrations/oc-return.svg' %}"
                            alt="Image Description">
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <h4 class="mb-1">تضمین اصالت و کیفیت کالا</h4>
                        <p class="small mb-0">تمامی قطعات اورجینال بوده و اصالت کالا تضمین می گردد.</p>
                    </div>
                </div>
                <!-- End Icon Block -->
            </div>
            <!-- End Col -->

            <div class="col-md-4">
                <!-- Icon Block -->
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img class="ps-2 avatar avatar-4x3" src="{% static 'svg/illustrations/oc-truck.svg' %}"
                            alt="Image Description">
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <h4 class="mb-1">ارسال سریع </h4>
                        <p class="small mb-0">حمل و نقل استاندارد و سریع به تمامی نقاط ایران .</p>
                    </div>
                </div>
                <!-- End Icon Block -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
</div>
<!-- End Icon Blocks -->


{% show_latest_products %}

<!-- Subscribe -->
<div class="bg-light">
    <div class="container content-space-2">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto">
            <div class="row justify-content-lg-between">
                <!-- Heading -->
                <div class="mb-5">
                    
                    <h2>برای دریافت جدیدترین محصولات و تخفیفات ویژه ایمیل خود را وارد نمایید.</h2>
                </div>
                <!-- End Heading -->

                <form action="{% url 'website:news-letter' %}" method="post">
                    {% csrf_token %}
                    <!-- Input Card -->
                    <div class="input-card input-card-pill input-card-sm border mb-3">
                        <div class="input-card-form">
                            <label for="subscribeForm" class="form-label visually-hidden">ایمیل را وارد کنید</label>
                            <input type="email" class="form-control form-control-lg" name="email"
                                placeholder="ایمیل خود را وارد نمایید" aria-label="ایمیل خود را وارد کنید"
                                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
                                title="Enter a valid email address">
                            <span class="invalid-feedback">لطفا یک آدرس ایمیل معتبر وارد کنید.</span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg rounded-pill">ثبت نام</button>
                    </div>
                    <!-- End Input Card -->
                </form>

            </div>
        </div>
    </div>
</div>
<!-- End Subscribe -->

<!-- Clients -->
<div class="container content-space-2">
    <div class="row">
        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/hollister-dark.svg' %}" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/levis-dark.svg' %}" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/new-balance-dark.svg' %}" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/puma-dark.svg' %}" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/nike-dark.svg' %}" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/tnf-dark.svg' %}" alt="Logo">
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>
<!-- End Clients -->

{% endblock content %}