{% extends 'base.html' %}
{% block content %}
<!-- Form -->
<div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
    <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
            <h1 class="h2">فرم فراموشی رمز عبور</h1>
            <p>برای ارسال ایمیل تغییر رمز فراموش شده ایمل معتبر وارد کنید.</p>
        </div>
        <!-- End Heading -->
        <!-- Form -->
        <form action="{% url 'accounts:password_reset' %}" method="post">
            {% csrf_token %}
            <!-- Form -->
            <div class="mb-4">
                <label class="form-label" for="signupSimpleLoginEmail">ایمیل شما</label>
                <input type="email" class="form-control form-control-lg text-center" name="email"
                     placeholder="email@site.com" aria-label="email@site.com" required>
                <span class="invalid-feedback">لطفا یک آدرس ایمیل معتبر وارد کنید.</span>
            </div>
            <!-- End Form -->
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary btn-lg">ارسال ایمیل</button>
            </div>
            <div class="text-center">
                <p>بازگشت به صفحه ورود  <a class="link" href="{% url 'accounts:login' %}">اینجا کلیک کنید      </a></p>
            </div>
        </form>
        <!-- End Form -->
    </div>
</div>
<!-- End Form -->
{% endblock content %}