{% extends 'base.html' %}
{% block content %}
<!-- Form -->
<div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
    <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
            <h1 class="h2">فرم ارسال لینک فراموشی رمز</h1>
            <p> مراحل تغییر رمز کامل شد لطفا وارد حساب کاربری خود شوید</p>
        </div>
        <div class="text-center">
            <p> برای ورود به حساب کاربری خود کلیک کنید  <a class="link" href="{% url 'accounts:login' %}">صفحه ورود به حساب کاربری  </a></p>
        </div>
    </div>
</div>
<!-- End Form -->
{% endblock content %}