{% extends 'base.html' %}
{% block content %}
<!-- Form -->
<div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
    <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
            <h1 class="h2">فرم ثبت نام</h1>
            <p>یک حساب جدید بسازید </p>
        </div>
        <!-- End Heading -->
        <!-- Form -->
        <form action="{% url 'accounts:register' %}" method="post">
            {% csrf_token %}
            <!-- Form -->
            <div class="mb-4">
                {{form.email}}
            </div>
            <!-- End Form -->
            <!-- Form -->
            <div class="mb-4">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="form-label" for="signupSimpleLoginPassword">کلمه عبور</label>
                </div>
                <div class="input-group input-group-merge" >
                    <input type="password" class="form-control form-control-lg text-center"
                        name="password1" id="signupSimpleLoginPassword" placeholder="8+ characters required"
                        aria-label="8+ characters required" required minlength="8" >
                    <a id="changePassTarget" class="input-group-append input-group-text" href="javascript:;">
                        <i id="changePassIcon" class="bi-eye"></i>
                    </a>
                </div>
                <span class="invalid-feedback">لطفا یک گذر واژه معتبر وارد کنید.</span>
                {{ form.password1.errors }}
            </div>
            <!-- End Form -->
            <!-- Form -->
            <div class="mb-4">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="form-label" for="signupSimpleLoginPassword">تکرار کلمه عبور</label>
                </div>
                <div class="input-group input-group-merge" >
                    <input type="password" class="form-control form-control-lg text-center"
                        name="password2" id="signupSimpleLoginPassword" placeholder="8+ characters required"
                        aria-label="8+ characters required" required minlength="8" >
                    <a id="changePassTarget" class="input-group-append input-group-text" href="javascript:;">
                        <i id="changePassIcon" class="bi-eye"></i>
                    </a>
                </div>
                <span class="invalid-feedback">لطفا یک گذر واژه معتبر وارد کنید.</span>
                {{ form.password2.errors }}
            </div>
            <!-- End Form -->
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary btn-lg">ثبت نام </button>
            </div>
            <div class="text-center">
                <p>   <a class="link" href="{% url 'website:index' %}">بازگشت به صفحه اصلی </a></p>
            </div>
        </form>
        <!-- End Form -->
    </div>
</div>
<!-- End Form -->
{% endblock content %}